[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urwid = "*"
pyinstaller = "*"

[dev-packages]

[scripts]
build = "pyinstaller --onefile todos.py"

[requires]
python_version = "3.9"
